hr {
  border-color:var(--color-green);
  margin: 20px 0;
}

.CardBerita {
    --transition-duration: 0.3s;
  --transition-delay: 0.2s;
    display: flex;
    flex-direction:row; 
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-white);
    overflow-y: hidden;
    min-height: 200px;
}


.container-news a {
  color: inherit;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  width:90%;
  min-height: 200px;
  position: relative;
  display: block;
}

.CardBerita .border {
  position: absolute;
  left: 0;
  background: var(--color-green);
  transition: transform var(--transition-duration) ease-in-out;
}

.CardBerita .border-top,
.CardBerita .border-bottom {
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}

.CardBerita .border-left,
.CardBerita .border-right {
  width: 2px;
  height: 100%;
  transform: scaleY(0);
}

.CardBerita .border-top,
.CardBerita .border-left,
.CardBerita .border-right {
  top: 0;
}

.CardBerita .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.CardBerita .border-top {
  transform-origin: top left;
}

.CardBerita .border-left {
  transform-origin: bottom left;
}

.CardBerita .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.container-news a:hover .border-top,
.container-news a:hover .border-bottom {
  transform: scaleX(1);
}

.container-news a:hover .border-left,
.container-news a:hover .border-right {
  transform: scaleY(1);
}

.container-news a:hover .border-right {
  transition-delay: var(--transition-delay);
}

.container-news a:hover .border-bottom {
  transition-delay: calc(var(--transition-delay) * 2);
}

.container-news .a:hover .border-left {
  transition-delay: calc(var(--transition-delay) * 3);
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.CardBerita[data-animation="diagonal"] .border-left {
  transform-origin: top left;
}

.CardBerita[data-animation="diagonal"] .border-right,
.CardBerita[data-animation="diagonal"] .border-bottom {
  transform-origin: bottom right;
}

.CardBerita[data-animation="diagonal"] a:hover [class^=border]{
  transition-delay: 0s;
}
