 .navbar {
  justify-content: center;
  height: 60px;
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
  display: flex;
  flex-direction: row;
  background-color:#007f39;
  top: 50px;
  z-index: 1000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 80%;
  }

  .navbar.fixed {
    position: fixed;
    top: 0;
  }

  .navigation{
    width: 80%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin-left: 20px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    display: flex;
    align-items: center;
    transition: height 0.9s ease;
    transition: border-radius 0.6s ease;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color:var(--color-green);
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    background-color:var(--button-nav);
    width: 90px;
  }

.btn a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  transition: height 0.9s ease;
  transition: border-radius 0.6s ease;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color:var(--color-green);
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  background-color:var(--button-nav);
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:var(--button-nav);
  color:var(--color-green);
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropbtn:hover{
  height: 60px;
  border-radius: 0px;
}

.btn a:hover{
  height: 60px;
  border-radius: 0px;
}

  .dropdown-content a:hover {
    background-color: #007f39;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

.toggle{
  width: 20%;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.menu-items.show {
  display: block;
  flex-direction: column;
}

@media (max-width: 768px) {
.navbar{
  width: 100%;
}

  .menu-toggle {
    display: block;
  }

  .btn a{
    background-color:var(--button-trans);
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .dropdown .dropbtn {
    background-color:var(--button-trans);
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .menu-items {
    border-right: solid 4px #007f39;
    border-left: solid 4px #007f39;
    border-bottom: solid 4px #007f39;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    flex-direction: column;
    background-color:var(--button-trans);
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 999;
    margin-bottom: 30px;
  }

  .menu-items.show {
    display: flex;
  }

  .btn,
  .dropdown {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content.show {
    display: flex;
    flex-direction: column;
  }
}